<footer id="site-footer" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-xl-0 border-left">
                <div class="widget-footer">
                    <img src="../../../../assets/img/logo2.png" class="footer-logo" alt="">
                    <p>Miles de eventos, millones de boletos. Nuestro servicio está respaldado por 30 años de
                        experiencia..</p>
                    <div class="footer-social list-social">
                        <ul>
                            <li><a href="http://www.facebook.com" target="_self"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="http://www.twitter.com" target="_self"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="http://www.linkedin.com" target="_self"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="http://www.instagram.com" target="_self"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-xl-0 border-left">
                <div class="widget-footer">
                    <h6>Contacto</h6>
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <span class="list-item-icon"><i class="ot-flaticon-place"></i></span>
                            <span class="list-item-text">Aguascalientes, Ags, Mex</span>
                        </li>
                        <li class="footer-list-item">
                            <span class="list-item-icon"><i class="ot-flaticon-mail"></i></span>
                            <span class="list-item-text">contacto@ticket4you.com</span>
                        </li>
                        <li class="footer-list-item">
                            <span class="list-item-icon"><i class="ot-flaticon-phone-call"></i></span>
                            <span class="list-item-text">+52 449 111 2233</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 mb-4 mb-md-0 border-left">
                <div class="widget-footer widget-contact">
                    <h6>Paginas</h6>
                    <ul class="ml-3">
                        <li><a routerLink="">Inicio</a></li>
                        <li><a routerLink="eventos">Eventos</a></li>
                        <li><a routerLink="contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 border-left border-right">
                <div class="widget-footer footer-widget-subcribe">
                    <h6>Subscribe</h6>
                    <div class="mc4wp-form-fields">
                        <div class="subscribe-inner-form">
                            <input type="email" name="EMAIL" placeholder="Ingresa tu correo" autocomplete="off" required="">
                            <button type="submit" class="subscribe-btn-icon"><i class="ot-flaticon-send"></i></button>
                        </div>
                    </div>
                    <p class="mt-2">Subscribete para recibir informacion de nuestro eventos.</p>
                </div>
            </div>
        </div>
    </div>
</footer>