<div id="content" class="site-content">
    <section class="story-1 full">
        <div class="container full d-flex justify-content-end align-items-end">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-5">
                    <div class="story-text">
                        <h4 class="text-white text-center mb-5 pb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci quasi laborum aliquid alias dicta sit odit velit aut nihil, 
                            maxime perspiciatis sapiente minima, quia cupiditate. Quia tenetur nam aut. Adipisci.</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-1 py-0">
        <div class="grid-lines grid-lines-vertical">
            <span class="g-line-vertical line-left color-line-default"></span>
            <span class="g-line-vertical line-center color-line-default"></span>
            <span class="g-line-vertical line-right color-line-default"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-5 mb-lg-0">
                    <div class="about-img-1">
                        <img src="../../../../assets/img/about.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 align-self-center">
                    <div class="about-content-1 ml-xl-70">
                        <div class="ot-heading is-dots">
                            <span>Nosotros</span>
                            <h2 class="main-heading">Ticket For You</h2>
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A exercitationem cumque ipsam, esse voluptatibus dignissimos est consectetur perferendis rerum 
                            praesentium accusantium quo tenetur atque dolor enim vitae earum, nemo molestias.
                        Ab, accusamus tempore! Inventore praesentium ratione minus maiores quis. Autem quas, in facere sapiente assumenda ipsa animi esse aliquam ullam libero deleniti 
                        saepe dolore doloribus optio eligendi magnam est quisquam.</p>
                        <div class="ot-button">
                            <a routerLink="eventos" class="octf-btn octf-btn-dark border-dark">Ver eventos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-1">
        <div class="grid-lines grid-lines-vertical">
            <span class="g-line-vertical line-left color-line-default"></span>
            <span class="g-line-vertical line-center color-line-default"></span>
            <span class="g-line-vertical line-right color-line-default"></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="180" data-time="2000">5000</span>
                            <span>+]</span>
                        </div>
                        <h6>Clientes</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="10" data-time="2000">5</span>
                            <span>+]</span>
                        </div>
                        <h6>Años de experiencia</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span></span>
                            <span class="num" data-to="35" data-time="2000">100</span>
                            <span>%</span>
                        </div>
                        <h6>Satisfaccion de clientes</h6>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="ot-counter">
                        <div>
                            <span>[</span>
                            <span class="num" data-to="5" data-time="2000">10</span>
                            <span>+]</span>
                        </div>
                        <h6>Oficinas en el país</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <h2 class="text-light mb-0">Nos encargamos de tu evento!</h2>
                    <div class="space-5"></div>
                    <p class=" mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        provident cumque sed et!.</p>
                </div>
                <div class="col-lg-4 text-left text-lg-right align-self-center">
                    <div class="ot-button">
                        <a routerLink="contacto" class="octf-btn octf-btn-light border-hover-light">Contactar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="grid-lines grid-lines-vertical">
            <span class="g-line-vertical line-left color-line-default"></span>
            <span class="g-line-vertical line-center color-line-default"></span>
            <span class="g-line-vertical line-right color-line-default"></span>
        </div>
        <div class="container">
            <div class="row pb-50">
                <div class="col-lg-8 col-md-12 mb-4 mb-lg-0">
                    <div class="ot-heading is-dots">
                        <h2 class="main-heading">Proximos Eventos</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-lg-right align-self-center">
                    <div class="ot-button">
                        <a routerLink="eventos" class="octf-btn octf-btn-dark border-hover-dark">Ver todos</a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a routerLink="eventos"><img src="../../../../assets/img/concierto.jpg" alt=""></a>
                                <div class="post-cat">
                                    <div class="posted-in">Interior</div>
                                </div>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on">March 19, 2020</span>
                                        <span class="byline">
                                            <span class="author vcard">Tom Black</span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link" routerLink="eventos">Top 10 Tips for Your Kitchen Interior
                                            Design</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a routerLink="eventos"><img src="../../../../assets/img/concierto2.jpg" alt=""></a>
                                <div class="post-cat">
                                    <div class="posted-in">Interior</div>
                                </div>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on">March 19, 2020</span>
                                        <span class="byline">
                                            <span class="author vcard">Tom Black</span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link" routerLink="eventos">The Golden Ratio Rules for Best 2D Sketch</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="post-box masonry-post post-item">
                        <div class="post-inner">
                            <div class="entry-media post-cat-abs">
                                <a routerLink="eventos"><img src="../../../../assets/img/concierto.jpg" alt=""></a>
                                <div class="post-cat">
                                    <div class="posted-in">Interior</div>
                                </div>
                            </div>
                            <div class="inner-post">
                                <div class="entry-header">
                                    <div class="entry-meta">
                                        <span class="posted-on">March 19, 2020</span>
                                        <span class="byline">
                                            <span class="author vcard">Tom Black</span>
                                        </span>
                                    </div><!-- .entry-meta -->

                                    <h5 class="entry-title">
                                        <a class="title-link" routerLink="eventos">Use Pastel Colors & Natural Materials</a>
                                    </h5>
                                </div><!-- .entry-header -->

                                <div class="the-excerpt">
                                    A faceting effect livens up and...
                                </div><!-- .entry-content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>