<div id="content" class="site-content">
    <div class="page-header dtable text-center header-transparent pheader-faq">
        <div class="dcell">
            <div class="container">
                <h1 class="page-title">Checkout</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a routerLink="/">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="shop-cart">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="order_review_heading">Resumen de tu compra</h3>
                <ng-template [ngIf]="band" [ngIfElse]="empty">
                    <table class="shop_table woocommerce-checkout-review-order-table">
                        <thead>
                            <tr>
                                <th class="product-name">Producto</th>
                                <th class="product-name">Cantidad</th>
                                <th class="product-total">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item" *ngFor="let boleto of boletosCompra">
                                <td class="product-name">{{boleto.nombreEvento}} | {{boleto.nombreSeccion}}</td>
                                <td class="product-name"><strong class="product-quantity">× {{boleto.cantidad}}</strong>
                                </td>
                                <td class="product-total"><span class="amount">{{boleto.total | currency}}</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="cart-subtotal">
                                <th colspan="2">Subtotal</th>
                                <td>{{total-total*0.16| currency}}</td>
                            </tr>
                            <tr class="cart-subtotal">
                                <th colspan="2">IVA</th>
                                <td>{{total*0.16 | currency}}</td>
                            </tr>
                            <tr class="order-total">
                                <th colspan="2">Total</th>
                                <td>{{total | currency}}</td>
                            </tr>
                        </tfoot>
                    </table>
                    <section class="py-2">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h5 class="mb-0">Detalles de pago</h5>
                                    </div>
                                    <div class="card-body ml-3 py-4">
                                        <div class="col-6">
                                            <label for="metodoPago">Metodo de pago:</label>
                                            <select id="metodoPago" class="form-control" [(ngModel)]="idMP">
                                                <option selected disabled>Selecciona una opcion</option>
                                                <option *ngFor="let metodo of metodosPago" [ngValue]="metodo._id">
                                                    {{metodo.banco}}</option>
                                            </select>
                                        </div>
                                        <div class="col-6 mt-3">
                                            <label for="metodoPago">Dato de facturación:</label>
                                            <select id="metodoPago" class="form-control" [(ngModel)]="idDF">
                                                <option selected disabled>Selecciona una opcion</option>
                                                <option *ngFor="let dato of datosFacturacion" [ngValue]="dato._id">
                                                    {{dato.nombre}} | {{dato.calle}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-template>
                <ng-template #empty>
                    <h3>No tienes elementos en el carrito.</h3>
                </ng-template>
                <div id="payment" class="woocommerce-checkout-payment">
                    <div class="place-order text-right">
                        <button type="button" class="octf-btn button alt bg-danger mr-3"
                            name="woocommerce_checkout_place_order" id="place_order" value="Place order"
                            data-value="Place order" (click)="VaciaCarrito()">Vaciar Carrito</button>
                        <button type="button" class="octf-btn button alt" name="woocommerce_checkout_place_order"
                            id="place_order" value="Place order" data-value="Place order" (click)="CreateBoletos()">Comprar ahora</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>