<h2 class="card-title">
    Editar Evento:
</h2>
<div class="row mb-4">
    <!-- <div class="col-6">
        <span class="p-float-label">
            <input [(ngModel)]="newEvent.nombreEvento" id="float-input" type="text" pInputText>
            <label for="float-input">Nombre</label>
        </span>
    </div>
    <div class="col-6">
        <span class="p-float-label">
            <p-calendar [(ngModel)]="newEvent.fecha" [minDate]="today" [maxDate]="maxDate"
                [showIcon]="true" icon="pi pi-calendar"></p-calendar>
            <label for="float-input">Fecha</label>
        </span>
    </div> -->
</div>