<header id="site-header" class="site-header header-transparent py-3">
    <!-- Header -->
    <div class="octf-main-header is-fixed">
        <div class="octf-area-wrap">
            <div class="container-fluid octf-mainbar-container">
                <div class="octf-mainbar">
                    <div class="octf-mainbar-row octf-row">
                        <div class="octf-col logo-col no-padding ml-3 mb-3">
                            <div id="site-logo" class="site-logo">
                                <a routerLink="home">
                                    <img src="../../../../assets/img/logo2.png" class="w-50 h-50" alt="Theratio">
                                </a>
                            </div>
                        </div>
                        <div class="octf-col menu-col no-padding">
                            <nav id="site-navigation" class="main-navigation">
                                <ul class="menu">
                                    <li><a routerLink="home">Inicio</a></li>
                                    <!-- <li class="menu-item-has-children"><a href="#">Eventos</a>
                                        <ul class="sub-menu">
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-services.html">Our Services</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a routerLink="eventos">Eventos</a></li>
                                    <li><a routerLink="contacto">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="octf-col cta-col text-right no-padding">
                        <!-- Botones accion -->
                            <div class="octf-btn-cta">
                                <div class="octf-cart octf-cta-header">
                                    <a class="cart-contents" title="View your shopping cart">
                                        <i class="fa-solid fa-user fsn text-white"></i>
                                    </a>
                                    <div *ngIf="!logged" class="site-header-cart">
                                        <div class="widget woocommerce widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <p class="woocommerce-mini-cart__buttons buttons">
                                                    <a routerLink="/auth/login" class="button checkout wc-forward">Login</a>
                                                    <a routerLink="/auth/registro" class="button checkout wc-forward">Registrar</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>  
                                    <div *ngIf="logged" class="site-header-cart">
                                        <div class="widget woocommerce widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <p class="woocommerce-mini-cart__buttons buttons">
                                                    <a routerLink="/auth/login" class="button checkout wc-forward">Ajustes</a>
                                                    <a routerLink="/auth/registro" class="button checkout wc-forward">Log out</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="header_mobile">
        <div class="container-fluid">
            <div class="octf-mainbar-row octf-row">
                <div class="octf-col">
                    <div class="mlogo_wrapper clearfix">
                        <div class="mobile_logo">
                            <a href="">
                                <img src="assets/images/logo.svg" alt="Theratio">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="octf-col justify-content-end">
                    <div class="octf-search octf-cta-header">
                        <div class="toggle_search octf-cta-icons">
                            <i class="ot-flaticon-search"></i>
                        </div>
                        <div class="h-search-form-field collapse">
                            <div class="h-search-form-inner">
                                <form role="search" method="get" class="search-form">
                                    <input type="search" class="search-field" placeholder="SEARCH..." value="" name="s">
                                    <button type="submit" class="search-submit"><i class="ot-flaticon-search"></i></button>
                                </form>
                            </div>                                  
                        </div>
                    </div>
                    <div class="octf-menu-mobile octf-cta-header">
                        <div id="mmenu-toggle" class="mmenu-toggle">
                            <button><i class="ot-flaticon-menu"></i></button>
                        </div>
                        <div class="site-overlay mmenu-overlay"></div>
                        <div id="mmenu-wrapper" class="mmenu-wrapper on-right">
                            <div class="mmenu-inner">
                                <a class="mmenu-close" href="#"><i class="ot-flaticon-right-arrow"></i></a>
                                <div class="mobile-nav">
                                    <ul id="menu-main-menu" class="mobile_mainmenu none-style">
                                        <li class="menu-item-has-children current-menu-item current-menu-ancestor"><a href="">Home</a></li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="">About Us</a></li>
                                                <li><a href="">Our Services</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</header>